*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 600px;
    height: 600px;
    background-color: blueviolet;
}
.one{
    height: 100px;
    width: 100px;
    background-color: brown;
    position: absolute;
    left: 0;
    top: 0;
    animation-name: round;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: 3;   /* ----- 1 dile 1 bar 2 dile 2 bar infinite dile bar bar cholbe animation----*/
}
@keyframes round{
    from{
       width: 20px;
        background-color: white; 
    }
    to{
       
         width: 400px;
        background-color: yellow;
        height: 100px;
    }

}